<div class="container-chatbox">
  <div class="conversation-username">
    <h1 class="mt-5"><%= @conversation.recipient(current_user).first_name %> <%= @conversation.recipient(current_user).last_name%></h1>
  </div>

  <div class="text-right">
    <%= link_to 'â† back', conversations_path %>
  </div>

  <% @conversation.messages.each do |message| %>
    <% if message.content %>
      <li>
        <h4><%= message.user.first_name %></h4>
        <p><%= message.content %></p>
      </li>
    <% end %>
  <% end %>

  <h3>Send new message</h3>

  <%= simple_form_for [@conversation, Message.new] do |f| %>
    <div class="field">
      <%= f.input :content, as: :text, label: false, placeholder: "Your message", style: 'float: left; width: 100%; display: block' %>
    </div>

    <%= f.submit "Send", class: "btn btn-primary" %>

  <% end %>
</div>
