<div class="container-chatbox">
  <div class="conversation-username">
    <h1 class="mt-4">Conversation with <span class="text-blue"><%= @conversation.recipient(current_user).first_name %></span></h1>
  </div>



  <% @conversation.messages.each do |message| %>
    <% if message.content %>
      <li>
        <h4> <span class="text-blue"><%= message.user.first_name %></span></h4>
        <p><%= message.content %></p>
      </li>
    <% end %>
  <% end %>

  <h3>Send new message</h3>

  <%= simple_form_for [@conversation, Message.new] do |f| %>
    <div class="field">
      <%= f.input :content, as: :text, label: false, placeholder: "Your message", style: 'float: left; width: 100%; display: block' %>
    </div>

    <%= f.submit "Send", class: "btn btn-secondary" %>

  <% end %>
    <div class="text-right">
    <%= link_to 'â† back', conversations_path %>
  </div>
</div>
