
<!-- new cards -->
<div class="container">
<% @attractions.each do |attract| %>
  <%= link_to attraction_path(attract) do %>
<div class="">
  <% if attract.photos.attached? %>
  <% else %>
  <%= image_tag "favicon.png" %>
    <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= attract.name %></h5>
      <p class="card-text"><%= attract.address %></p>
      <p class="card-text"><%= attract.description %></p>
      <p class="card-text"><%= attract.text %></p>
  </div>
</div>
  <% end %>
  <% end %>
</div>

<% @personalities.each_with_index do |personality| %>
        <%= link_to personality_path(personality) do %>
        <div class="card-product">
          <% if personality.photos.attached? %>
          <%= cl_image_tag (personality.photos.first.key), class:"card-img-top"%>
          <% end %>
          <div class="card-product-infos">
            <h5 id="index-title" class="card-title"><%= personality.name %></h5>
            <p class="card-text"><%= personality.address %></p>
            <p class="card-text"><%= personality.description %></p>
          </div>
        </div>
        <% end %>
        <% end %>
