<div class="formulario container col-md-4">
  <h1>Edit Tour</h1>
    <%= simple_form_for @tour do |f| %>
      <%= f.input :name %>
      <%= f.input :price %>
      <%= f.input :description, as: :text %>
      <%= f.association :attractions, as: :check_boxes, :checked => params[:attraction_id] %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.button :submit,"Edit tour", class: "btn btn-secondary" %>
  <% end %>
</div>
