<div class="formulario container col-md-4">
  <h1>Add Tour</h1>
    <%= simple_form_for @tour, url: attraction_tours_path(@attraction, @tour), method: :post do |f| %>
    <%#= simple_form_for [@attraction, @guide, @tour] do |f| %>
      <%= f.input :name %>
      <%= f.association :attractions, as: :check_boxes %>
      <%= f.input :price_cents, as: :string %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.button :submit,"Add tour", class: "btn btn-outline-secondary" %>
  <% end %>
</div>
