<h1>Tour show</h1>

<div class="container justify-content-center pt-5">
  <% @tour %>

  <div class="banner mr-5" style="width: 100%;">
    <% if @tour.photos.attached? %>

    <%= cl_image_tag (@tour.photos.first.key), class:"card-img-top-banner" %>
    <% end %>
  </div>
  <div class="d-flex min-vw-80">
    <div class="row justify-content-center min-width-card">
      <div class="card-body">
        <h5 class="card-title">
          <%= @tour.name %>
        </h5>
          <%= @attraction.address %>
        <p class="card-text">
          <%= @attraction.description %>
        </p>
        <p class="card-text">
          <%= @attraction.text %></p>
      </div>
    </div>
    <div class="calendar">
      <%= simple_form_for @tour do |tour| %>
      <%= tour.input :date, input_html: {class: "datepicker"} %>
      <%= tour.button :submit,"Book", class: "btn btn-outline-secondary" %>
      <% end %>
    </div>
    <%= render 'shared/card-guide' %>

    <div class="row">
      <div class="col-md-4">
        <!-- For Reviews & Ratings -->
        <%= render @tour.reviews %>
        <div>
          <%= link_to "Add Review", new_tour_review_path(@tour) %>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render "shared/footer" %>
