<div class="formulario container col-md-8">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Guide</th>
        <th scope="col">Price</th>
        <th scope="col">Edit</th>
        <th scope="col">Cancel</th>
        <th scope="col">Payment</th>
      </tr>
    </thead>

    <tbody>
      <% count = 1 %>
      <% @bookings.each do |booking| %>
      <tr>
        <th scope="row"><%= count %></th>
        <td> <%= booking.book_date %> </td>
        <td> <%= booking.tour.user_id %> </td>
        <td> <%= booking.tour.price %> </td>
        <td> <%= link_to "Edit", edit_booking_path(booking), class: "btn btn-secondary" %></td>
        <td> <%= link_to "Delete", booking_path(booking), method: :delete, class: "btn btn-danger" %></td>
        <td> <%= form_tag orders_path do %>
              <%= hidden_field_tag 'tour_id', booking.tour.id %>
              <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
            <% end %>
        </td>
      </tr>
      <% count += 1 %>
      <% end %>

    </tbody>
  </table>
</div>
