<div class="formulario container col-md-4">
  <h1>Edit Personality</h1>
    <%= simple_form_for @personality do |personality| %>
      <%= personality.input :name %>
      <%= personality.input :death_date, input_html: {class: "deathpicker"} %>
      <%= personality.input :address, placeholder: "Street/Country" %>
      <%= personality.input :description %>
      <%= personality.input :text, as: :text %>
      <%= personality.input :photos, as: :file, input_html: { multiple: true } %>
      <%= personality.button :submit,"Add Personality", class: "btn btn-outline-secondary" %>
  <% end %>
</div>
