<div class="formulario container col-md-4">
  <h1>Add Personality</h1>
    <%= simple_form_for @personality do |personality| %>
      <%= personality.input :name %>
      <%= personality.input :death_date, input_html: {class: "deathpicker"} %>
      <%= personality.input :address, placeholder: "Street/Country" %>
      <%= personality.input :description %>
      <%= personality.input :text, as: :text %>
      <%= personality.input :photos, as: :file, input_html: { multiple: true } %>
      <%= personality.association :attraction, as: :radio_buttons %>
      <div class="form-check">
        <input class="form-check-input radio_buttons optional" type="radio" value="false" name="nil" id="nil">
        <label class="form-check-label collection_radio_buttons" for="nil">None</label>
      </div>
      <br>
      <%= personality.button :submit,"Add Personality", class: "btn btn-secondary" %>
  <% end %>
</div>
