<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ripio-Dark tourism</title>
    <meta name="description" content="Guides for dark tourists - Explore historical sites connected with the death and tragedy of renowned people.">
    <meta property="og:title" content="Ripio-Dark tourism">
    <meta property="og:image" content="<%= image_path 'face.png' %>">
    <meta property="og:description" content="Explore historical sites connected with the death and tragedy of renowned people.">
    <meta property="og:site_name" content="Ripio.life"/>
    <meta property="og:url" content="http://www.ripio.life">
    <meta property="og:type" content="ripio.life"/>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
