<div class="container-fluid">
  <div class="row" style="margin-top: 110px;">
    <div class="tudo col-lg-6 col-md-6">
      <div class="index-form">
        <div class="search" style="padding-bottom: 0px; ">
          <form novalidate="novalidate" class="simple_form search " action="/attractions" style="padding-bottom: 10px;" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
            <div id="show-form" class="search-form-control form-group">
              <input class="form-control string required rounded-pill" type="text" name="search[query]" id="search_query" />
              <button name="button" type="submit" class="btn btn-outline-secondary rounded-pill">
                <i class="fas fa-search"></i> Search </button>
            </div>
          </form>
        </div>
      </div>
      <div class="filter d-flex justify-content-around">
        <form action="/attractions" method="get" style="
            display: flex;
            align-items: start;">
            <input type="hidden" id="chosen" name="chosen" value="attractions"><br><br>
            <input type="submit" class="btn-ghost btn-sm" value="Attractions">
        </form>
        <form action="/attractions" method="get" style="
            display: flex;
            align-items: start;">
            <input type="hidden" id="chosen" name="chosen" value="personalities"><br><br>
            <input type="submit" class="btn-ghost btn-sm" value="Personalities">
        </form>
      </div>
      <div class="cards">
        <% @attractions.each do |attract| %>
          <%= link_to attraction_path(attract) do %>
            <div class="card-product">
              <% if attract.photos.attached? %>
                <%= cl_image_tag (attract.photos.first.key), class:"" %>
              <% end %>
              <div class="card-product-infos">
                <h5 id="index-title" class="card-title"><%= attract.name %></h5>
                <p class="card-text"><%= attract.address %></p>
                <p class="card-text"><%= attract.description %></p>
              </div>
              <a href="#" class="location_btn" data-latitude="<%= attract.latitude %>" data-logitude="<%= attract.longitude %>" data-image="<%= asset_url('rip-round-blue-50px.svg') %>" data-info="<%= attract.description %>">Butao</a>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="cards">
        <% @personalities.each do |personality| %>
          <%= link_to personality_path(personality) do %>
            <div class="card-product">
              <% if personality.photos.attached? %>
                <%= cl_image_tag (personality.photos.first.key), class:"card-img-top"%>
              <% end %>
              <div class="card-product-infos">
                <h5 id="index-title" class="card-title"><%= personality.name %></h5>
                <p class="card-text"><%= personality.address %></p>
                <p class="card-text"><%= personality.description %></p>
              </div>
              <a href="#" class="location_btn" data-latitude="<%= personality.latitude %>" data-logitude="<%= personality.longitude %>" data-image="<%= asset_url('death-round-blue-50px.svg') %>" data-info="<%= personality.description %>">Butao</a>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-lg-6 col-md-6">
      <div class="">
        <div
        id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>

  </div>
</div>
