<div class="row">
<div class="col-lg-6">
  <div class="d-flex justify-content-between ml-4 mt-4">
<%= render 'shared/card-location'  %>

</div>
  <% @attractions.each do |attraction| %>
    <ul>
      <li><%= attraction.name %></li>
    </ul>
  <% end %>

</div>

  <div
  class="col-lg-6"
    id="map"
    style="width: 98%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
  </div>
  <%= render 'shared/footer' %>

