<div class="container">
  <div class="top-card d-flex justify-content-center" style="width: 100%;">
  <img class="card-img-top" src="https://res.cloudinary.com/dwppwrimk/image/upload/v1583418232/Chernobyl_Wide_dwxetb.png" alt="Card image cap">
</div>

<div class="show">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">
            <%= @attraction.name %>
          </h5>
            <%= @attraction.address %>
          </h6>
          <p class="card-text">
            <%= @attraction.description %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">
            <%= @attraction.name %>
          </h5>
            <%= @attraction.address %>
          </h6>
          <p class="card-text">
            <%= @attraction.description %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<%= render "shared/footer" %>
