<div class="container top-card d-flex justify-content-center">
  <img class="card-img-top" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" alt="Card image cap">
</div>

<div class="container d-flex bd-highlight" id="show_att">
  <div class="row">
      <div class="col-lg-6">
        <div class="card-show" style="width: 100%;">
          <div class="card-body">
                <h5 class="card-title parag">
                  <%= @attraction.name %>
                </h5>
                <h6 class="parag"> Address:
                  <%= @attraction.address %>
                </h6>
                <p class="card-text parag">
                  Description:
                 <%= @attraction.description %>
                </p>
                <p>
                  Text:
                  <%= @attraction.text %>
                </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card-show card-guide">
          <%= "Guide" %>
          </div>
        </div>
      </div>
            <div class="col-lg-6">
        <div class="card-show card-guide">
          <%= "Guide" %>
          </div>
        </div>
</div>

<%= render "shared/footer" %>
