<div class="container top-card d-flex justify-content-center">
    <% @attraction %>

      <div class="card mr-5">
        <% if @attraction.photos.attached? %>

        <%= cl_image_tag (@attraction.photos.first.key), class:"card-img-top" %>
        <% end %>
      </div>

    <div class="row justify-content-center">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">
              <%= @attraction.name %>
            </h5>
              <%= @attraction.address %>
            </h6>
            <p class="card-text">
              Description:
              <%= @attraction.description %>
            </p>
            <p class="card-text">
              text:
              <%= @attraction.text %></p>
          </div>
        </div>
   </div>


</div>
<%= render "shared/footer" %>
